* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ce503a;
    height: 100vh;

}

.card {
    background-color: #8f8f8d;
    width: fit-content;
    height: fit-content;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 12px;
    padding: 10px;
    color: white;
}

h1 {
    text-align: center;
    padding-block: 10px;
}

img {
    width: 420px;
    height: 560px;
    border-radius: 12px;
}

p {
    padding: 5px;
}